@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6, footer {
  overflow-wrap: break-word;
  font-family: 'Figtree', sans-serif;
}

p {
    font-size: 16px;
    padding: 10px 0;
    margin: 0 auto;
}

.lang {
    color: hsl(0, 0%, 50%);
    font-weight: 600;
}

h1 {
    font-weight: 800;
    font-size: 25px;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS Reset */

.container-main {
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-main .attribution {
    text-align: center;
}


.container-sub {
    padding: 25px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
box-shadow: 7px 9px 0px 2px rgba(0,0,0,1);
-webkit-box-shadow: 7px 9px 0px 2px rgba(0,0,0,1);
-moz-box-shadow: 7px 9px 0px 2px rgba(0,0,0,1);
}

.row {
    margin-top: 10px;
}

.row, p.name {
    display: flex;
    align-items: center;
}

.row img {
    width: 2rem;
}

p.name {
    margin: 0 10px;
    font-weight: 800;
}

img {
    border-radius: 15px;
}

.section-one img {
    width: 100%;
}

.learn {
    margin: 0;
    margin-top: 20px;
    padding: 5px 15px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-weight: 800;
}

/* .attribution {
    margin: 30px;
} */

.row-learn {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

footer {
    background-color: hsl(47, 88%, 63%);
    text-align: center;
}

.footer-sentence {
  margin: 0;
  padding: 0;
}